# Configuración de la aplicación
PROJECT_NAME="PaperSoul"
VERSION="1.0.0"
DESCRIPTION="API utilizando el framework FastAPI con arquitectura de tres capas y Clean Code usando MongoDB"

# Configuración de la API
API_V1_STR="/api/v1"

# Configuración de MongoDB
# Formato: mongodb://[username:password@]host:port/database
# Para MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/database
MONGODB_URL="mongodb://localhost:27017/fastapi_db"
MONGODB_DATABASE="fastapi_db"

# Configuración de seguridad
SECRET_KEY="tu-clave-secreta-muy-segura-cambia-en-produccion"
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM="HS256"

# Configuración de logging
LOG_LEVEL=INFO

# VARIABLES DE ENTORNO 
# Configuración de validación de PDFs
MAX_FILE_SIZE_BYTES:int = 50
#Configuración Servicio de extracción PDFs
MIN_TEXT_LENGTH:int = 10
MIN_DPI:int = 300